<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource = "application.properties"/>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="kr.or.dgit.SaleManagement.dto"/> 
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="kr/or/dgit/SaleManagement/Mappers/SalesMapper.xml" /> 
		<mapper resource="kr/or/dgit/SaleManagement/Mappers/AccountMapper.xml" /> 
 		<mapper resource="kr/or/dgit/SaleManagement/Mappers/SmallClassMapper.xml" />
 		<mapper resource="kr/or/dgit/SaleManagement/Mappers/BigClassMapper.xml" />
 		<mapper resource="kr/or/dgit/SaleManagement/Mappers/ProductMapper.xml" />
	</mappers>
</configuration>