<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.SaleManagement.dao.AccountLevelDao">
	<sql id="selectSql">
		SELECT level, disrate
		FROM accountlevel
	</sql>
	
	<resultMap type="AccountLevel" id="accResult">
		<id property="accLevel" column="level"/>
		<result property="accDisrate" column="disrate"/>
	</resultMap>
	
	<select id="selectAccountLevelByAll" resultMap="accResult">
		<include refid="selectSql"/>	
	</select>
	
	<select id="selectAccountLevelByOne" parameterType="AccountLevel" resultMap="accResult">
		<include refid="selectSql"/>
		where level = #{accLevel}	
	</select>
</mapper>