<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.BigClassDao">
	<sql id="selectSql">
		select big, name
		from bigClass
	</sql>
	
	<resultMap type="BigClass" id="resultMap">
		<id property="bigClass" column="big"/>
		<result property="bigName" column="name" />
	</resultMap>
	
	<sql id="wherebigClass">
		<where>
			<if test="bigClass!=null">
				big= #{bigClass}
			</if>
		</where>
	</sql>
	
	<sql id="wherename">
		<where>
			<if test="bigName!=null">
				name= #{bigName}
			</if>
		</where>
	</sql>
	
	<select id="selectAll" resultType="BigClass" resultMap="resultMap">
		<include refid="selectSql"/>		
	</select>
	
	<select id="selectbigClass" parameterType="BigClass" resultType="BigClass" resultMap="resultMap">
		<include refid="selectSql"/>		
		<include refid="wherebigClass"/>
	</select>
	
	<select id="selectbigName" parameterType="BigClass" resultType="BigClass" resultMap="resultMap">
		<include refid="selectSql"/>		
		<include refid="wherename"/>
	</select>
	
	<insert id="insertbigClass" parameterType="BigClass">
		insert into bigClass(big, name)
		values(#{bigClass}, #{bigName})	
	</insert>
	
	<update id="updatebigClass" parameterType="BigClass">
		update bigClass set name = #{bigName} where big= #{bigClass};
	</update>
	
	<update id="deletebigClass" parameterType="int">
		DELETE FROM bigClass WHERE big =#{bigClass}
	</update>
	
	
	<select id="selectMaxCode" resultType="int">
		SELECT MAX(big) FROM bigClass
	</select>
	
</mapper>