<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.BigClassDao">
	<sql id="selectSql">
		select bigClass, bigName
		from bigClass
	</sql>
	<sql id="wherebigClass">
		<where>
			<if test="bigClass!=null">
				bigClass= #{bigClass}
			</if>
		</where>
	</sql>
	<sql id="wherebigName">
		<where>
			<if test="bigName!=null">
				bigName= #{bigName}
			</if>
		</where>
	</sql>
	
	<select id="selectAll" resultType="BigClass">
		<include refid="selectSql"/>		
	</select>
	
	<select id="selectbigClass" parameterType="BigClass" resultType="BigClass">
		<include refid="selectSql"/>		
		<include refid="wherebigClass"/>
	</select>
	
	<select id="selectbigName" parameterType="BigClass" resultType="BigClass">
		<include refid="selectSql"/>		
		<include refid="wherebigName"/>
	</select>
	
	<insert id="insertbigClass" parameterType="BigClass">
		insert into bigClass(bigClass, bigName)
		values(#{bigClass}, #{bigName})	
	</insert>
	
	<update id="updatebigClass" parameterType="BigClass">
		update bigClass set bigName = #{bigName} where bigClass= #{bigClass};
	</update>
	
	<update id="deletebigClass" parameterType="int">
		DELETE FROM bigClass WHERE bigClass =#{bigClass}
	</update>
	
	
</mapper>