<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.LoginDao">
	<sql id = "selectSql">
		select saleId, salePw, saleAdmit, saleCode
		from saleId
	</sql>
	<sql id="whereSalesIdSql">
		<where>
			<if test="saleCode !=null">
				saleCode = #{code}
			</if>
		</where>
	</sql>
	
	<select id="selectSalesId" parameterType="Login" resultType="Login">
		<include refid="selectSql"/>
		where salecode = #{code}
	</select>
	
	<select id="selectAll" resultType="Login">
		<include refid="selectSql"/>
	</select>

</mapper>