<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.RowClassDao">
	
	<!-- <resultMap type="RowClass" id="RowClassResult">
		<id property="rowClass" column="rowClass"/>
		<result property="rowname" column="rowname"/>
	</resultMap>

	<resultMap type="RowClass" id="RowClassWithBigClassResult" extends="RowClassResult">
		<result property="bigClass.bigClass" column="bigClass"/>
		<result property="bigClass.bigName" column="bigName"/>
	</resultMap>

	<sql id="selectJoinRowClass">
		select b.bigClass, bigName, rowClass, rowName from bigclass b join rowclass r on b.bigClass = r.bigClass
	</sql> -->

	<sql id="selectSql">
		select rowClass, rowName, bigClass
		from rowClass
	</sql>
	
	<select id="selectAll" resultType="RowClass">
		<include refid="selectSql"/>
	</select>
	
	<sql id="insertSql">
		insert into rowclass (rowClass, rowName, bigClass) 
		VALUES (#{rowClass}, #{rowName}, #{bigClass})
	</sql>
	
	<insert id="insertRowClass" parameterType="RowClass">
		<include refid="insertSql"/>
	</insert>

</mapper>