<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.SaleManagement.dto.SaleLevelDao">
	<resultMap type="SalesLevel" id="salesLevelResult">
		<id property="sLevel" column="level"/>	
		<result property="sDisrate" column="disrate"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT level, disrate
		FROM saleslevel
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="sLevel != null">
				AND level = #{sLevel}
			</if>
			<if test="sDisrate != 0">
				AND disrate = #{sDisrate}
			</if>
		</where>
	</sql>
	
	<select id="selectAllSaleLevel" resultMap="salesLevelResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectSalesByOne" resultMap="salesLevelResult" parameterType="SalesLevel">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>	
	
	<delete id="deletSalesLevel" parameterType="SalesLevel">
		delete from salesLevel
		<include refid="whereSql"/>
	</delete>
	
	<update id="updateSalesLevel" parameterType="SalesLevel">
		update saleslevel
		set disrate = #{sDisrate}
		where level = #{sLevel}
	</update>
</mapper>