<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.SalesLevelDao">
	<resultMap type="SalesLevel" id="SalesLevelrs">
		<id property="salLevel" column="level"/>
		<result property="salDisrate" column="disrate"/>
	</resultMap>
	
	<sql id="selectSql">
		select  level, disrate
		from saleslevel
	</sql>
	
	<select  id="selectAllSaleLevel" parameterType="SalesLevel" resultMap="SalesLevelrs">
		<include refid="selectSql"/>
	</select>
	
	<select  id="selectSalesByOne" parameterType="SalesLevel" resultMap="SalesLevelrs">
		<include refid="selectSql"/>
		WHERE level = #{salLevel}
	</select>
	
	<insert id="insertSalesLevel" parameterType="SalesLevel">
		insert into saleslevel(level,disrate)
		values(#{salLevel},#{salDisrate})
	</insert>
	
	<delete id="deletSalesLevel" parameterType="SalesLevel">
		delete from saleslevel
		where level = #{salLevel}
	</delete>
	
	<update id="updateSalesLevel" parameterType="SalesLevel">
		UPDATE saleslevel
		SET disrate = #{salDisrate}
		WHERE level = #{salLevel}
	</update>
</mapper>