<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.SmallClassDao">
	
	<resultMap type="SmallClass" id="resultMap">
		<id property="smallClass" column="small"/>
		<result property="smallName" column="name" />
		<result property="sBigClass" column="big" />
	</resultMap>

	<sql id="selectSql">
		select Small, name, big
		from SmallClass
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="smallClass!=null">
				Small=#{smallClass}
			</if>
		</where>
	</sql>
	
	<sql id="whereSmallName">
		<where>
			<if test="smallName!=null">
				name=#{smallName}
			</if>
		</where>
	</sql>
	
	
	<sql id="whereSmallNameLike">
		<where>
			<if test="smallName!=null">
				name like #{smallName}
			</if>
		</where>
	</sql>
	
	
	<sql id="whereBigClass">
		<where>
			<if test="sBigClass!=null">
				big=#{sBigClass}
			</if>
		</where>
	</sql>
	
	<select id="selectAll" resultType="SmallClass" resultMap="resultMap">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectBySmallClasslike" parameterType="SmallClass" resultType="SmallClass">
		<include refid="selectSql"/>
		<include refid="whereSmallNameLike"/>
	</select>
	
	<select id="selectBySmallClass" parameterType="SmallClass" resultType="SmallClass"  resultMap="resultMap">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectBySmallName" parameterType="SmallClass" resultType="SmallClass"  resultMap="resultMap">
		<include refid="selectSql"/>
		<include refid="whereSmallName"/>
	</select>
	
	<select id="selectByBigClass" parameterType="SmallClass" resultType="SmallClass"  resultMap="resultMap">
		<include refid="selectSql"/>
		<include refid="whereBigClass"/>
	</select>
	
	<select id="selectMaxCode" resultType="int">
		SELECT MAX(small) FROM smallClass
	</select>
	
	
	<sql id="insertSql">
		insert into SmallClass (Small, Name, big) 
		VALUES (#{smallClass}, #{smallName}, #{sBigClass})
	</sql>
	
	<insert id="insertSmallClass" parameterType="SmallClass">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateSmallClass" parameterType="SmallClass">
		update SmallClass set Name = #{smallName}, big=#{sBigClass} where Small= #{smallClass}
	</update>
	
	<update id="deleteSmallClass" parameterType="SmallClass">
		delete from SmallClass where Small=#{smallClass}
	</update>

</mapper>