<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.SmallClassDao">
	
<!-- 	<resultMap id="SmallClassResult" type="SmallClass" >
		<id property="SmallClass" column="SmallClass"/>
		<result property="SmallName" column="SmallName"/>
	</resultMap>

	<resultMap id="SmallClassWithBigClassResult" type="SmallClass" extends="SmallClassResult">
		<result property="bigClass.bigClass" column="bigClass"/>
		<result property="bigClass.bigName" column="bigName"/>
	</resultMap>

 -->
	<sql id="selectSql">
		select Small, name, big
		from SmallClass
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="smallClass!=null">
				Small=#{smallClass}
			</if>
		</where>
	</sql>
	
	<sql id="whereSmallName">
		<where>
			<if test="smallName!=null">
				name=#{smallName}
			</if>
		</where>
	</sql>
	
	<sql id="whereBigClass">
		<where>
			<if test="sBigClass!=null">
				big=#{sBigClass}
			</if>
		</where>
	</sql>
	
	<select id="selectAll" resultType="SmallClass">
		<include refid="selectSql"/>
	</select>
	
	
	<select id="selectBySmallClass" parameterType="SmallClass" resultType="SmallClass">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectBySmallName" parameterType="SmallClass" resultType="SmallClass">
		<include refid="selectSql"/>
		<include refid="whereSmallName"/>
	</select>
	
	<select id="selectByBigClass" parameterType="SmallClass" resultType="SmallClass">
		<include refid="selectSql"/>
		<include refid="whereBigClass"/>
	</select>
	
	
	
	<sql id="insertSql">
		insert into SmallClass (Small, Name, big) 
		VALUES (#{smallClass}, #{smallName}, #{sBigClass})
	</sql>
	
	<insert id="insertSmallClass" parameterType="SmallClass">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateSmallClass" parameterType="SmallClass">
		update SmallClass set Name = #{smallName} where Small= #{smallClass}
	</update>
	
	<update id="deleteSmallClass" parameterType="SmallClass">
		delete from SmallClass where Small=#{smallClass}
	</update>

</mapper>