<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.SaleManagement.dao.UserDao">
	<sql id="selectSql">
		select userId, userPw, categoryNo
		from usertb
	</sql>
	<sql id="whereSql">
		<where>
			<if test="userId != null">
				userId = #{userId}
			</if>
		</where>
	</sql>
	
	<select id="selectUserById" parameterType="User" resultType="User">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into usertb(userId, userPw, categoryNo)
		values (#{userId}, #{userPw}, #{categoryNo})
	</insert>
</mapper>